<div id="buurtpreventieLoperAddDateFormErrors"></div>

{% if afgemeld|length > 0 %}
    <div class="alert alert-warning" role="alert">
        <strong>Let op</strong> u heeft zich eerder afgemeld voor deze datum
    </div>
{% endif %}

<form id="buurtpreventieLoperAddDateForm" action="{{ action }}" {{ form_enctype(form) }} method="post">
    {{ form_widget(form._token) }}

    {{ form_label(form.toelichtingen) }}
    {{ form_errors(form.toelichtingen) }}

    <ul class="list-unstyled" data-prototype="{{ form_widget(form.toelichtingen.vars.prototype)|e }}">
        {% for toelichting in form.toelichtingen %}
            <li>
                {{ form_errors(toelichting) }}
                {{ form_widget(toelichting) }}
            </li>
        {% endfor %}
    </ul>
</form>
