<div id="buurtpreventieLoperAddDateFormErrors"></div>

{% if afgemeld|length > 0 %}
    <div class="alert alert-warning" role="alert">
        <strong>Let op</strong> u heeft zich eerder afgemeld voor deze datum
    </div>
{% endif %}

<form id="buurtpreventieLoperAddDateForm" action="{{ action }}" {{ form_enctype(form) }} method="post">
    {{ form_widget(form._token) }}

    {{ form_label(form.toelichtingen) }}
    {{ form_errors(form.toelichtingen) }}

    <ul class="list-unstyled" data-prototype="{{ form_widget(form.toelichtingen.vars.prototype)|e }}">
        {% for toelichting in form.toelichtingen %}
            <li>
                {{ form_errors(toelichting) }}
                {{ form_widget(toelichting) }}
            </li>
        {% endfor %}
    </ul>
    
    <!-- Show list when active user is an administrator -->
    {% if is_admin %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Lopers</div>        
        <!-- List group -->
        <ul class="list-group" style="max-height:200px; overflow:auto;">
        {% for loper in lopers %}
            <li class="list-group-item">
                <input class="list-checkbox" type="checkbox" name="lopers[]" value="{{ loper.id }}">{{ loper.naam }}
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <!-- End of list -->
    
</form>
