{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <li>
        <a href="{{ path('zabuto_currentuser_profile') }}">
            <span class="visible-xs pull-left glyphicon glyphicon-user"></span>
            <span class="visible-xs">Mijn gegevens</span>
            <img class="hidden-xs pull-left user-avatar"
                 src="http://www.gravatar.com/avatar/{{ app.user.gravatar }}?s=26&d=mm">
            <span class="hidden-xs pull-left">{{ app.user.realname }}</span>
        </a>
    </li>
    <li>
        <a href="{{ path('fos_user_security_logout') }}">
            <span class="pull-left glyphicon glyphicon-log-out"></span>
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    </li>
{% else %}
    <li>
        <a href="{{ path('fos_user_security_login') }}">
            <span class="pull-left glyphicon glyphicon-log-in"></span>
            {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
        </a>
    </li>
{% endif %}