{% set prev_time = '' %}
{% for toelichting in toelichtingen %}
    {% if toelichting.memo is not null %}
        {% set time = toelichting.loopschema.datum|date('H:i') %}
        {% if time != prev_time %}
        <p class="lead" style="margin-bottom: 0;">{{ time }}</p>
        {% set prev_time = time %}
        {% endif %}
        <p style="overflow-x: auto; word-wrap: break-word;">
        <span class="pull-right">
            <small class="text-muted">{{ toelichting.aangemaaktop|time_ago_in_words }}</small>
        </span>
            <img class="image-responsive" style="margin-right: 2px;"
                 src="http://www.gravatar.com/avatar/{{ toelichting.loopschema.loper.gravatar }}?s=14&d=identicon">
            <small class="text-muted">
                {{ toelichting.loopschema.loper.naam }}
            </small>
            <br>
            {{ toelichting.memo }}
        </p>
    {% endif %}
{% endfor %}