{% extends "base.html.twig" %}

{% block title %}Gebruiker wachtwoord wijzigen - {{ username|title }}{% endblock %}

{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="container pageheader">
        <h1 class="pull-left">Gebruiker <span>wachtwoord wijzigen</span></h1>

        <ul class="nav nav-pills pull-right">
            <li>
                <a href="{{ path("zabuto_user_list") }}">
                    <span class="glyphicon glyphicon-list"></span> naar lijst
                </a>
            </li>
        </ul>
    </div>

    <br>

    <div class="row">
        <div class="col-xs-6">
            <form action="{{ path('zabuto_user_edit_password', { 'id': id }) }}" {{ form_enctype(form) }} method="post"
                  autocomplete="off">
                <p class="lead"><strong>{{ username }}</strong></p>
                {{ form_widget(form) }}
                <div class="form-group">
                    <input class="btn btn-danger" type="submit" value="{{ 'change_password.submit'|trans }}">
                    <a href="{{ path('zabuto_user_edit', { 'id': id }) }}"
                       class="btn btn-default">{{ 'form.button.cancel'|trans }}</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
