{% extends "base.html.twig" %}

{% block title %}Gebruiker overzicht{% endblock %}

{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h1>Gebruiker <span>overzicht</span></h1>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 hidden-print">
            <br>

            <div class="btn-group pull-right">
                <button id="btnNewUser" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> Gebruiker {{ 'form.button.new'|trans|lower }}
                </button>
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path("zabuto_user_locked_list") }}">Verwijderde gebruikers</a></li>
                </ul>
            </div>

        </div>
    </div>

    {% if users|length == 0 %}
        <div class="alert alert-info">
            Geen gegevens gevonden
        </div>
    {% else %}
        <table id="userListTable" class="table">
            <thead>
            <tr>
                <th>{{ 'user.list.realname'|trans }}</th>
                <th>{{ 'user.list.email'|trans }}</th>
                <th>{{ 'user.list.address'|trans }}</th>
                <th>{{ 'user.list.phone'|trans }}</th>
                <th>{{ 'user.list.groups'|trans }}</th>
                <th>{{ 'user.list.credit'|trans }}</th>
                <th>{{ 'user.list.lastLogin'|trans }}</th>
                <th>{{ 'user.list.enabled'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="clickable {% if user.enabled == false %}text-muted{% endif %}">
                    <td><a href="{{ path("zabuto_user_edit", { 'id': user.id }) }}">{{ user.realname }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.phone }}</td>
                    <td>
                        {% if user.groups|length > 0 %}
                            {% for group in user.groups %}
                                {{ group.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if user.credit %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% endif %}
                    </td>
                    <td>{{ user.lastLogin is empty ? "-" : user.lastLogin|date("d-m-Y H:i") }}</td>
                    <td>
                        <span class="glyphicon glyphicon-{% if user.enabled == true %}ok glyphicon green{% else %}off glyphicon red{% endif %}"></span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#btnNewUser").click(function () {
                window.location = '{{ path("zabuto_user_new") }}';
            });

            $("#userListTable tr").click(function () {
                var href = $(this).find("a").attr("href");
                if (href) {
                    window.location = href;
                }
            });
        });
    </script>
{% endblock %}
