{% extends "base.html.twig" %}

{% block title %}Ledenlijst{% endblock %}

{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h1>Leden<span>lijst</span></h1>
        </div>
    </div>

    {% if users|length == 0 %}
        <div class="alert alert-info">
            Geen gegevens gevonden
        </div>
    {% else %}
        <table id="userListTable" class="table">
            <thead>
            <tr>
                <th>{{ 'user.list.realname'|trans }}</th>
                <th>{{ 'user.list.email'|trans }}</th>
                <th>{{ 'user.list.address'|trans }}</th>
                <th>{{ 'user.list.phone'|trans }}</th>
                <th>{{ 'user.list.enabled'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="{% if user.enabled == false %}text-muted{% endif %}">
                    <td>{{ user.realname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.phone }}</td>
                    <td>
                        <span class="glyphicon glyphicon-{% if user.enabled == true %}ok glyphicon green{% else %}off glyphicon red{% endif %}"></span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
