{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-12">
            <h1>{% trans %}user.users{% endtrans %}</h1>
        </div>
        <div class="offset-md-1 col-md-3 col-12">
            <a href="{{ path('user_add') }}" class="btn btn-outline-primary btn-block" role="button">
                {% trans %}Add{% endtrans %}
            </a>
        </div>
    </div>
    <br>
    <div class="table-responsive">
        <table id="user_list_table" class="table table-hover table-sm">
            <thead>
            <tr>
                <th scope="col">{% trans %}user.name{% endtrans %}</th>
                <th scope="col">{% trans %}user.email{% endtrans %}</th>
                <th scope="col">{% trans %}user.last-login{% endtrans %}</th>
                <th scope="col" class="text-center">{% trans %}user.token{% endtrans %}</th>
                <th scope="col" class="text-center">{% trans %}user.active{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in list %}
                <tr {% if user.isDeleted %}class="table-danger"{% endif %}>
                    <th scope="row">
                        <a href="{{ path('user_edit', {id: user.id}) }}"
                           {% if not user.active %}class="text-muted"{% endif %}>
                            {{ user.name }}
                        </a>
                    </th>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.lastLogin is not null %}
                            {{ user.lastLogin|date('d-m-Y H:i:s') }}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <span class="d-none">{{ user.token }}</span>
                        {% if user.token is not null %}
                            <i class="far fa-check-square"></i>
                        {% else %}
                            <i class="far fa-square"></i>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <span class="d-none">{{ user.active|default(0) }}</span>
                        {% if user.active %}
                            <i class="far fa-check-square"></i>
                        {% else %}
                            <i class="far fa-square"></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
